<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">🏠 หน้าแรก</a></li>
                <li class="breadcrumb-item active" aria-current="page">ติดต่อเรา</li>
            </ol>
        </nav>
    </div>
</div>

<div class="card text-center">
    <div class="card-header">
        มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา
    </div>
    <div class="card-body">
      <p class="card-text">เลขที่ 199 หมู่ 6 ถนนสุขุมวิท ต.ทุ่งสุขลา อ.ศรีราชา จ.ชลบุรี 20230 โทรศัพท์ : 0-3835-4580-4 (666103)</p>
    </div>
   
  </div>
<br>

<h2>หมายเลขโทรศัพท์หน่วยงาน</h2>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
       
        <th scope="col">หน่วยงาน</th>
        <th scope="col">เบอร์ติดต่อ</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
       
        <td>คณะวิทยาการจัดการ</td>
        <td>0-3835-2828 (661000)</td>
       
        
      </tr>

      <tr>
       
        <td>คณะวิศวกรรมศาสตร์ศรีราชา </td>
        <td>0-3835-4580-4 (662202)</td>
      
        
      </tr>

      <tr>
       
        <td>คณะวิทยาศาสตร์ ศรีราชา </td>
        <td>0-3835-4587-8 (663014)</td>
      
        
      </tr>
      <tr>
       
        <td>คณะเศรษฐศาสตร์ ศรีราชา </td>
        <td>0-3835-2902, 081-781-0934 (664302)</td>
      
        
      </tr> <tr>
       
        <td>คณะพาณิชยนาวีนานาชาติ</td>
        <td>0-3835-4580-4 (665301)</td>
      
        
      </tr> <tr>
       
        <td>สำนักงานวิทยาเขต </td>
        <td>0-3835-4580-4 (666103)</td>
      
        
      </tr> <tr>
       
        <td>หน่วยประสานงานวิทยาเขตศรีราชา (ชั้น1 อาคาร 50 ปี บางเขน)</td>
        <td>0-2942-8878 (644013)</td>
      
        
      </tr>
    </tbody>
  </table>



<br><br><br><br><br><br><br><br><br><br><br>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>